<!-- <ul>
   <li *ngFor="let item of items; let i = index" style="padding-bottom: 100px">
        <span style="color: red">{{item}}</span>
        <button (click)="increase(i)">Increase From Parent</button>

        <app-first-child [(value)]="item"
                 (removed)="childRemoved($event)"></app-first-child>

   </li> 
</ul> -->
<!-- {{item}}

<app-first-child [(value)]="item"></app-first-child> --> -->

<a [routerLink]="['inbox']">inbox</a>
<a [routerLink]="['blog/view-post']">blog</a>
<router-outlet>  

                        </router-outlet>

<!-- <app-card>
   <h2>Hello word from body!</h2>
   <span>Hello From Footer</span>
</app-card> -->
<app-pie-chart></app-pie-chart>
<app-linear-chart></app-linear-chart>
